*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: #222;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto 0;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 10s infinite linear;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(70, 70, 70, 0.2) 0px,
      rgba(70, 70, 70, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(70, 70, 70, 0.2) 0px,
      rgba(70, 70, 70, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.top {
  background-image: url(img/k1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  background-image: url(img/k2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transform: rotateX(-90deg) translateZ(100px);
}

.right {
  background-image: url(img/k3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(90deg) translateZ(100px);
}
.left {
  background-image: url(img/k4.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transform: rotateY(-90deg) translateZ(100px);
}

.front {
  background-image: url(img/k5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(0deg) translateZ(100px);
}
.back {
  background-image: url(img/k6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.section-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
}
.section-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-container .columns.content .content-container {
  padding: 40px 50px;
}
.section-container .columns.content .content-container h5 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}
.section-container .columns.content .content-container p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  margin-bottom: 15px;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .section-container {
    flex-flow: row wrap;
  }
  .section-container .columns.image {
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }
  .section-container .columns.content {
    display: block;
    order: 2;
    width: 100%;
  }
  .section-container .columns.content .content-container {
    padding: 20px 35px;
  }
  .section-container .columns.content .content-container h5 {
    margin-bottom: 5px;
  }
}
.font size {
  font-size: 5em;
}
a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: purple;
}
